# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/source/PixYAAL/bin
/source/PixYAAL/obj
/source/YAAST.Common/bin
/source/YAAST.Common/obj
/source/YAASTServer/bin
/source/YAASTServer/obj
/source/*.suo
/source/YAAL/obj
/source/YAAL/bin
/source/PALASTServer/obj
/source/PALASTServer/bin
/source/PALAST.Common/obj
/source/PALAST.Common/bin
/source/PALAST/obj
/source/PALAST/bin
