<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File" fileName="${specialfolder:folder=LocalApplicationData}\PALAST\_log_PALAST.txt" layout="[${processname}] [${level}] ${longdate}: ${callsite} ||| ${message} ${Exception:format=tostring}"/>
  </targets>

  <rules>
    <logger name="*" maxlevel="Fatal" minlevel="Info" writeTo="file" final="true"/>
  </rules>
  <!-- LogLevels: Trace,Debug,Info,Warn,Error,Fatal -->

</nlog>
